NOTIFICATION_APPLICATION_NAME=notification-service

NOTIFICATION_AUTHENTICATION_TOPIC=notification.authentication
NOTIFICATION_BOOKING_TOPIC=notification.booking
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=