# Gateway
GATEWAY_PORT=8080
GATEWAY_ADDRESS=0.0.0.0
GATEWAY_APPLICATION_NAME=gateway

# Booking Service
BOOKING_APPLICATION_PORT=8082
BOOKING_APPLICATION_ADDRESS=0.0.0.0
BOOKING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/booking_service
BOOKING_DATASOURCE_USERNAME=postgres
BOOKING_DATASOURCE_PASSWORD=1234
BOOKING_DATA_REDIS_HOST=redis
BOOKING_DATA_REDIS_PORT=6379

# User Service
USER_APPLICATION_PORT=8081
USER_APPLICATION_ADDRESS=0.0.0.0
USER_DATASOURCE_URL=jdbc:postgresql://postgres:5432/user_service
USER_DATASOURCE_USERNAME=postgres
USER_DATASOURCE_PASSWORD=1234
RESTORE_PASSWORD_URL=http://0.0.0.0:8080/users/reset-password

# Notification Service
NOTIFICATION_ADDRESS=0.0.0.0
NOTIFICATION_PORT=8083

# Shared
JWT_SECRET=your-super-secret-key-at-least-32-characters-long!
JWT_EXPIRATION=3600000
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092

