# Application
USER_APPLICATION_NAME=user-service
USER_APPLICATION_PORT=8081
USER_APPLICATION_ADDRESS=0.0.0.0

USER_DATASOURCE_URL=jdbc:postgresql://postgres:5432/user_service
USER_DATASOURCE_USERNAME=postgres
USER_DATASOURCE_PASSWORD=1234

# Reset password
RESTORE_PASSWORD_URL='http://localhost:8080/#/reset-password'
ADMIN_USERNAME=admin
ADMIN_MAIL=admin@mail.com
ADMIN_PASSWORD=123456