# Application
BOOKING_APPLICATION_NAME=booking-service


BOOKING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/booking_service
BOOKING_DATASOURCE_USERNAME=postgres
BOOKING_DATASOURCE_PASSWORD=1234

BOOKING_DATA_REDIS_HOST=redis
BOOKING_DATA_REDIS_PORT=6379


