# Application
BOOKING_APPLICATION_NAME=booking-service

# PostgreSQL
BOOKING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/microservices_booking
BOOKING_DATASOURCE_USERNAME=postgres
BOOKING_DATASOURCE_PASSWORD=1234

# Redis
BOOKING_DATA_REDIS_HOST=localhost
BOOKING_DATA_REDIS_PORT=6379
