# Application
BOOKING_APPLICATION_NAME=booking-service

# PostgreSQL
BOOKING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/booking_db
BOOKING_DATASOURCE_USERNAME=postgres
BOOKING_DATASOURCE_PASSWORD=postgres

# Redis
BOOKING_DATA_REDIS_HOST=localhost
BOOKING_DATA_REDIS_PORT=6379

# Kafka
BOOKING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
